<a href="https://colab.research.google.com/github/shraddhaagarwal10/Data-Cleaning/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Resolving Gene Data Anamoly (Filling the missing values)**

Case 1: 
If a gene has a missing value for all three replicates of any time point in the dataset, remove the gene completely from the dataset.

Case 2:
If a gene has a missing value for one of the three replicates of any time point, fill it with the mean of the values for the other two replicates.

Case 3:
If a gene has a missing value for two of the three replicates of any time point, fill both the missing values with the value of the third non-missing replicate at that time point.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Reading CSV file haiving dataset

In [2]:
gene=pd.read_csv("gene_data_anomaly.csv")

In [3]:
gene.keys()

Index(['symbol', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10',
       'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20',
       'S21', 'S22', 'S23', 'S24', 'S25', 'S26', 'S27', 'S28', 'S29', 'S30'],
      dtype='object')

## Deleting the 'Symbol' Column

In [4]:
g=gene.values
ng=np.delete(g, 0, 1)

## Running Loop to Fill the Missing Values

In [5]:
drop=[]
d=0

for i in ng:
    for j in range(10):
        if (np.isnan(i[3*j])) and (np.isnan(i[3*j + 1])) and (np.isnan(i[3*j +2])):
            drop.append(str(d))
        elif (np.isnan(i[3*j])) and (np.isnan(i[3*j + 1])):
            i[3*j] = i[3*j + 2]
            i[3*j + 1] = i[3*j + 2]
        elif (np.isnan(i[3*j + 1])) and (np.isnan(i[3*j + 2])):
            i[3*j + 1] = i[3*j]
            i[3*j + 2] = i[3*j]
        elif (np.isnan(i[3*j])) and (np.isnan(i[3*j + 2])):
            i[3*j] = i[3*j + 1]
            i[3*j + 2] = i[3*j + 1]
        elif (np.isnan(i[3*j])):
            i[3*j] = ((i[3*j + 1] + i[3*j + 2]))/2
        elif (np.isnan(i[3*j + 1])):
            i[3*j + 1] = ((i[3*j] + i[3*j + 2]))/2
        elif (np.isnan(i[3*j + 2])):
            i[3*j + 2] = ((i[3*j] + i[3*j + 1]))/2
    d+=1

In [6]:
a=[int(i) for i in drop]
g=np.delete(ng, a, 0)

In [7]:
s=np.array((gene['symbol']))
s

array(['Zzz3', 'Zzef1', 'Zyx', ..., 'Tcf20', 'Tcf19', 'Tcf15'],
      dtype=object)

In [8]:
sym=np.delete(s, a, 0)
sym=pd.DataFrame(sym, columns=['Symbol'])

In [9]:
new_gene=pd.DataFrame(g , columns=['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10',
       'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20',
       'S21', 'S22', 'S23', 'S24', 'S25', 'S26', 'S27', 'S28', 'S29', 'S30'])

## Concating the 'Symbol' Column

In [10]:
new_gene=pd.concat([sym, new_gene], axis=1)

## Creating a new CSV file with filled missing values

In [11]:
new_gene.to_csv("gene_data_resolved.csv")